@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
}

@media (min-width: 992px) {
    .right_col {
        position: relative;
        background: #fff;
    }

    .right_col::before {
        background: #ffffff;
        content: " ";
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transform-origin: right;
        width: 50%;
        box-shadow: 15px 0 30px 0 rgba(0,0,0,.18);
        z-index: -1;
    }
}